.main-container
  header
    position: fixed
    padding: 1vw 3vw
    display: flex
    align-items: center
    justify-content: start
    z-index: 10
    background-color: #180713
    width: 100vw
    height: 5vh
    nav
      width: 50%
      height: 100%
      display: flex
      justify-content: start
      align-items: center
      a
        margin: 1vw
        text-decoration: none
        color: #f8e7f3
        font-size: 1.4vw  
        font-weight: 500
        transition: 0.4s
      a:hover,a.active
        color: #82263a
    .lang
      width: 40%
      height: 70%
      display: flex
      justify-content: end
      svg
        width: auto
        height: 100%
        margin-left: 5%
        cursor: pointer
      svg:active
        opacity: 0.7 

  section
    top: 0
    left: 0
    min-height: 95vh
    min-width: 100vw
    background-color: transparent
  section#home
    min-height: 100vh
    min-width: 100vw
    background: rgb(24,7,19)
    color: #f8e7f3
    display: flex
    font-size: 5vw
    background: rgb(24,7,19)
    background: linear-gradient(180deg, rgba(24,7,19,1) 0%, rgba(27,8,21,1) 100%)
    .left-text-cotainer
      padding: 5%
      width: 100%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: start
      span
        background: -webkit-linear-gradient(290deg, rgba(221,136,198,1) 0%, rgba(205,81,95,1) 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
  section#about
    color: #f8e7f3
    background: rgb(24,7,19)
    background: linear-gradient(180deg, rgba(27,8,21,1) 0%, rgba(41,12,32,1) 100%)
    display: flex
    height: 100%
    width: 100vw
    justify-content: flex-start
    align-items: center
    .text-container
      padding: 5% 0
      padding-left: 5% 
      width: 55%
      height: 80vh
      display: flex
      text-wrap: pretty
      flex-direction: column
      font-size: 2.5vmin
      color: #f8e7f3
      .caption
        height: auto
        margin-bottom: 5%
        display: flex
        justify-content: start
        align-items: start
        font-size: 6vw
        background: -webkit-linear-gradient(290deg, rgba(221,136,198,1) 0%, rgba(205,81,95,1) 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
      .description
        overflow: auto
    .knowledge
      display: flex
      align-items: center
      justify-content: start
      flex-direction: column
      padding: 5% 0
      width: 40%
      height: 75vh
      .caption
        margin-bottom: 1vh
        font-size: 3vw
        background: -webkit-linear-gradient(290deg, rgba(221,136,198,1) 0%, rgba(205,81,95,1) 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
      .skill
        margin: 0.2vw
        height: 6%
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        svg
          height: 100%
          width: 7%
        .lvl
          font-size: 1.2vw
          margin: 0.2vw
  section#projects
    background: linear-gradient(180deg, rgba(41,12,32,1) 0%, rgba(55,16,43,1) 100%)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .caption
      padding: 5% 0
      font-weight: 500
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 20%
      font-size: 5vw
      background: -webkit-linear-gradient(290deg, rgba(221,136,198,1) 0%, rgba(205,81,95,1) 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
    .projects-container
      width: 100vw
      height: 80%
      display: flex
      align-items: center
      justify-content: center
      overflow: hidden
      .scroll
        width: 100%
        height: auto
        padding: 2% 0
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        flex-wrap: wrap
        overflow-y: auto
        .project-card
          padding: 0 1vw
          display: grid
          grid-template-columns: 1fr
          grid-template-rows: repeat(5, 1fr)
          align-items: center
          justify-items: center
          text-align: center
          width: 420px
          height: 350px
          transition: 0.3s
          margin: 1.5%
          background-color: #82263a
          border-radius: 2vh
          font-size: 20px
          font-weight: 400
          box-shadow: 0 0 1vw #000000 
          h1
            height: 30%
            font-weight: 1000
            color: #2b0d22
            font-size: 42px
          .description
            color: white
          .status
            color: #dd88c6
            margin-top: 2%
            font-size: 20px
            font-style: italic
          .technologies
            margin: 10% 0
            height: auto
            display: flex
            justify-content: center
            align-items: center
            flex-direction: row
            flex-wrap: wrap
            width: 100%
            .svg-container
              margin: 0 3%
              width: 50px

        .project-card:hover
          scale: 105%
          -webkit-box-shadow: 0px 0px 2.3vw -0.8vw #DD88C6
          -moz-box-shadow: 0px 0px 2.3vw -0.8vw #DD88C6
          box-shadow: 0px 0px 2.3vw -0.8vw #DD88C6
  section#contact
    background: rgb(24,7,19)
    background: linear-gradient(180deg, rgba(55,16,43,1) 0%, rgba(96,28,76,1) 100%)
    margin-bottom: -1vw 
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-size: 1vw
    .caption
      font-weight: 600
      display: flex
      justify-content: center
      align-items: center
      width: 100vw
      height: 30%
      font-size: 5vw
      background: -webkit-linear-gradient(290deg, rgba(221,136,198,1) 0%, rgba(205,81,95,1) 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
    .contact-cards-container
      align-items: center
      margin: 5vw 0
      justify-content: space-between
      display: flex
      width: 30vw
      .card
        width: auto
        height: auto
        display: flex
        flex-direction: column
        justify-content: end
        align-items: center
        cursor: pointer
        color: white    
        .svg
          width: 5vw
          height: auto
          transition: 0.5s
      .card:hover
        .svg
          translate: 0 -2.5vh
          filter: drop-shadow(0px 0px 5vw rgb(212, 125, 255))
  .copy-mail-main
    // min-width: 80px
    // min-height: 15px
    border-radius: 1vw
    background: -webkit-linear-gradient(220deg, rgba(221,136,198,1) 0%, #c86570 100%)
    border-color: #180713
    border-style: solid
    border-width: 0.15vw
    cursor: pointer
    color: #180713
    transition: 0.5s
    display: flex
    align-items: center
    justify-content: center
    .copy-mail-container
      display: flex
      flex-direction: row
      .svg
        display: flex
        justify-content: center
        align-items: center
        padding: 1.2% 2.5%
        width: 3vw
        height: auto
        border-right-color: #180713
        border-width: 0.15vw
        border-style: none solid none none 
      span
        padding: 1.2% 2.5%
  .copy-mail-main:hover
    translate: 0 -0.5vh
    filter: drop-shadow(0px 0px 5vw rgb(212, 125, 255))
  .copy-mail-main:active
    scale: 105%
    filter: drop-shadow(0px 0px 5vw rgb(170, 122, 154))
