<div class="main-container">
  <header>
    <nav>
      <a href="#home" class="active">{{langData.pl.header.home}}</a>
      <a href="#about">{{langData.pl.header.about}}</a>
      <a href="#projects">{{langData.pl.header.projects}}</a>
      <a href="#contact">{{langData.pl.header.contact}}</a>
    </nav>
  </header>
  <section id="home">
    <div class="left-text-cotainer">
      <span data-aos="fade-in" data-aos-duration="500">{{langData.pl.sectionHome.firstLine}}</span>
      <span data-aos="fade-in" data-aos-duration="3000">Developer</span>
    </div>
  </section>
  <section id="about">
    <div class="text-container">
      <div class="caption"><span>{{langData.pl.sectionAbout.caption}}</span></div>
      <span
        >{{langData.pl.sectionAbout.desription}}
      </span>
    </div>
    <div class="knowledge">
      <div class="caption"><span>{{langData.pl.sectionAbout.knowladge}}</span></div>
      <span></span>
    </div>
  </section>
  <section id="projects">
    <div class="caption"><span>{{langData.pl.sectionProjects.caption}}</span></div>
    <div class="projects-container">
      <div class="scroll" >
        <div class="project-card">
            <h1></h1>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">Contact</section>
</div>
